.box-30{
    /* 向上內距 */
    padding-top: 30px;
    /* 向下內距 */
    padding-bottom: 30px;
}
.mt-60{
    /* 向上外距 */
	margin-top: 60px;
}
.footer-content{
    /* 高度 */
    height: 60px;
    /* 行高 */
    line-height: 60px;
}

.header{
    padding: 50px 0;
    /* 兩點回到上層資料夾 */
    background-image: url('../images/Banner.jpg');
    /* 圖片位置 */
    background-position: center top;
    /* 背景圖片尺寸 */
    background-size: cover;
    /* 圖片不重覆 */
    background-repeat: no-repeat;
    /* 背景圖片固定 */
    background-attachment: fixed;
}

.feedback{
    display: inline-block;
}
